#dropdown #icon {
    
    cursor: pointer;
    border:none;
    padding: 10px 15px;
    position:absolute;
    }
    


    #dropdown a{
    
    color:white;
    display:block;
    text-decoration: none;
    padding: 10px 15px;
   
    }
    
    #dropdown #content {
    display:none;
    background-color:black;
    min-width:100px;
    position:absolute;
    }
    
    #dropdown:hover #content {
    display:block;
    }
    
    #asylum{
    text-align:center;
    
    width:100%;
    
    }
    
    body {
    background-color:black;
    color:white;
    font-family:'Courier New', Courier, monospace;
    
    }
    
    #main {
    text-align: center;
    
    
    top: 10%;
    width:100%;
    }