#dropdown #icon {
    cursor: pointer;
    border:none;
    padding: 10px 15px;
    position:absolute;
    right:5px
}
    
body {
    background-color:black;
    color:white;
    font-family:'Courier New', Courier, monospace;
        
}

#dropdown a{
    color:white;
    display:block;
    text-decoration: none;
    padding: 10px 15px;
}
    
#dropdown #content {
    display:none;
    background-color:black;
    min-width:100px;
    position:absolute;
    right: 5px;
    cursor: pointer;
    z-index: 1;
}
    
#dropdown:hover #content {
    display:block;
}
    
#asylum{
    text-align:center;
    padding:20px;
}

#main {
    text-align: center;
    padding:20;
    width:100%;
}